/* profile section */
.card1,.card2{
    background-color: #8B0000 !important;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
}

.card1{
    margin: 0% 5%;
}

.propic1{
    margin:auto;
    width: 60px !important;
    height: 60px !important;
    color:#B22222 !important;
    background-color: #2B2B2B !important;
    transition: 0.3s !important;
}

.propic1:hover{
    color:#2B2B2B !important;
    background-color: #B22222 !important;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3) !important;
}

.proname{
    color:#E6E6E6;
    display: flex;
    justify-content: center;
    font-size: 15px !important;
    margin-top: 3% !important;
    
}

/* new post section */
.newPost{
    background-color: #8B0000 !important;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
    margin: 0px 40px;
    height: 73px;
}

.addPost{
    padding-right: 15px;
}

.text {
    display: flex;
    align-items: center;
    color:#E6E6E6;
    background-color: #b22222a3;
    border-radius: 15px;
    padding-left: 10px;
    transition: 0.3s;
}

.text:hover{
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3) !important;
    background-color: #b22222;
}

.propic2{
    margin:auto;
    color:#B22222 !important;
    background-color: #2B2B2B !important;
    transition: 0.3s !important;
}

.propic2:hover{
    color:#2B2B2B !important;
    background-color: #B22222 !important;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3) !important;
}


/* post */

.post{
    background-color: #8B0000 !important;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
    margin: 10px 40px;
    
}

.propic3{
    margin: auto 0;
    color:#B22222 !important;
    background-color: #2B2B2B !important;
    transition: 0.3s !important;
}

.propic3:hover{
    color:#2B2B2B !important;
    background-color: #B22222 !important;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3) !important;
}

.grad_result{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: gold; 
}

.star{
    font-size: 30px !important;
}

.post_img{
    max-width: 150px;
    height: auto;
    margin:auto;
    border-radius:5px ;
}

.title_p{
    color: #E6E6E6;
}


.rating{
  background-color: #8B0000 !important;
}

